.list-item {
  box-shadow: 0px 0px 4px rgba(0,0,0,.3);
  background-color: white;
  padding: 15px;
  margin-bottom: 15px;
}

nav {
  background-color: #eee;
  box-shadow: none;
}

.list-item a {
  margin-right: 15px;
}

body {
  background-color: #eee;
}

main {
  margin-top: 40px;
}

nav ul a {
  color: #2a3749;
}

.centered {
  text-align: center;
}

#status {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  margin: auto;
  display: none;
  background-color: white;
  box-shadow: 1px 1px 2px rgba(0,0,0,.5);
}
